<body>
    <div class="box">
        <form id="fogotpassword">
            <h1>Forgot Password</h1>
            <div class="input-box">
                <label for="email">Enter your email:</label>
                <input type="email" id="email" name="email" placeholder="Email" required [(ngModel)]="email">
            </div>

            <button type="submit" class="btn">Reset Password</button>
            <p id="message" class="message"></p>
            
        </form>
    </div>

    <script src="script.js"></script>

</body>
